@model IEnumerable<ComputanVidely.Models.Customer>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@if (!Model.Any())
{
    <p>We don't have any customer yet!.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th> <strong>Customers</strong></th>
            <th> <strong>Membership Type</strong></th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                 <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                 </td>
                <td>@customer.MembershipType.Name</td>

            </tr>
        }
    </table>

}

