@model ComputanVidely.viewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var className = Model.Customers.Count > 5 ? "popular" : null;}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>NO one rented this movie yet</text>
}
else
{
    <ul>
        @foreach (var Customer in Model.Customers)
        {
            <li>@Customer.Name</li>
        }
    </ul>

}
